[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
Werkzeug = "2.2.2"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
faker = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
requests = "*"
pyjwt = "*"

[requires]
python_full_version = "3.8.13"

[dev-packages]
